{% extends 'base.html' %}
{% block title %}Contato{% endblock %}
{% block content %}
<div class="p-4 text-center my-36">
  <h1 class="font-bold text-2xl py-4">Contato</h1>
  <p>
    <a href="tel:+558699584587"></a><b>Telefone:</b> (86) 9.9958-4587 </a>
    <a href="https://wa.me/+5586999584587" target="_blank"><span><i
          class="fab fa-whatsapp text-2xl text-green-600"></i></span></a>
  </p>
  <a href="mailto:contato@burgerlanche.com">
    <p><b>email:</b> contato@burgerlanche.com</p>
  </a>
  <p><b>Endereço: </b> Rua das pedras, 172, Centro, Monsenhor Gil-PI</p>
</div>
{% endblock content %}